* {
  padding: 0;
  margin: 0;
}



.background_app{

  /* ff 3.6+ */
  background:-moz-linear-gradient(25deg, #FED495, #F2AB83); 

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(25deg, #FED495 , #F2AB83);

  /* opera 11.10+ */
  background:-o-linear-gradient(25deg, #FED495 , #F2AB83);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2AB83', endColorstr='#FED495', GradientType=0 );

  /* ie 10+ */
  background:-ms-linear-gradient(25deg, #FED495 , #F2AB83);

  /* global 94%+ browsers support */
  background:linear-gradient(25deg, #FED495 , #F2AB83);
}

